<li
  class="card"
  [attr.card-id]="card.id"
  [attr.card-order]="card.order"
  (click)="onEdit()"
>
  <textarea
    #container
    [style.display]="isEditing ? '' : 'none'"
    (keydown)="onEnter($event)"
    (blur)="onBlur()"
    [(ngModel)]="card.text"
  ></textarea>
  <span
    id="content"
    #content
    [style.display]="isEditing ? 'none' : ''"
    (click)="saveSize()"
    ><span
      >{{ card.text }}
      <i class="delete fas fa-times-circle" (click)="delete()"></i>
    </span>
  </span>
</li>
