<li
  class="card"
  [attr.card-id]="card.id"
  [attr.card-order]="card.order"
  (click)="edit()"
>
  <textarea
    #contentRefEdit
    [style.display]="isEditing ? '' : 'none'"
    (keydown)="blurOnEnter($event)"
    (blur)="update()"
    [(ngModel)]="card.text"
  ></textarea>
  <span
    #contentRef
    [style.display]="isEditing ? 'none' : ''"
    (click)="saveSize()"
    ><span
      >{{ card.text }}
      <i class="delete fas fa-times-circle" (click)="delete()"></i>
    </span>
  </span>
</li>
