<app-menubar
  [color]="color$ | async"
  [colors]="colors$ | async"
  [boardId]="boardId"
  [boardName]="(board$ | async)?.name"
>
  <app-team></app-team
></app-menubar>
<div>
  <div class="header pb-8 pt-5" [ngClass]="(color$ | async)?.name">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="col-xl-3 col-lg-6" *ngFor="let column of columns">
            <app-column-header
              [column]="column"
              [count]="cards[column.order]?.length"
            ></app-column-header>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--8 mb-5 px-5">
    <div class="row mt-5">
      <div class="col-xl-3 col-lg-6" *ngFor="let column of columns">
        <app-column
          [column]="column"
          [cards]="cards[column.order]"
          (update)="updateColumn($event)"
          (cardEvent)="onCardEvent($event)"
        ></app-column>
      </div>
    </div>
  </div>
</div>
