<div class="card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div
      class="column"
      [attr.column-id]="column.id"
      [attr.column-order]="column.order"
    >
      <div class="column-header" [style.textAlign]="'center'">
        <h4
          class="card-title text-uppercase mb-0"
          [ngStyle]="{ color: '#6d7994' }"
          [innerHtml]="column.name"
          [style.display]="isEditingCol ? 'none' : ''"
          (click)="isAuthor ? editColumn() : ''"
        ></h4>
        <input
          [style.display]="isAuthor && isEditingCol ? '' : 'none'"
          (blur)="updateColumnOnBlur()"
          (keyup)="updateColumnOnEnter($event)"
          [(ngModel)]="column.name"
        />
      </div>
      <div class="card-list" [attr.column-id]="column.id">
        <div *ngFor="let card of cards">
          <app-card [card]="card" (cardEvent)="onCardEvent($event)"></app-card>
        </div>
      </div>
      <div class="add-card" (click)="enableAddCard()">
        <i class="fas fa-plus-circle"></i>
        <textarea
          #cardInputRef
          class="rt-text"
          [ngStyle]="{
            display: isAddingCard ? '' : 'none',
            overflow: 'hidden',
            resize: 'none',
            'min-width': '100%',
            'min-height': '30px',
            'max-height': '200px'
          }"
          [attr.autofocus]="isAddingCard"
          (keyup)="onKeyUp($event)"
          (blur)="onBlur()"
          [(ngModel)]="cardText"
        ></textarea>
      </div>
    </div>
  </div>
</div>
