<div class="main">
  <div class="not-found">
    <div class="message">
      <strong>404</strong>
      <p class="title">(Ret)rocket exploded!</p>
      <p class="message-text">
        We could not find the requested board to land. Please either create a
        new account or request an invite link for another board.
      </p>
      <button class="button" (click)="onClickSignup()">Sign Up</button>
    </div>
  </div>
  <div class="box-astronaut">
    <img src="../../../assets/img/astronaut.svg" alt="" />
  </div>
</div>
