<div class="header bg-gradient-primary py-5 py-lg-6">
  <div class="container">
    <div class="header-body text-center mt--4 mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <a
            class="navbar-brand"
            routerLinkActive="active"
            [routerLink]="['/dashboard']"
          >
            <img class="logo" src="assets/img/brand/retrocket-white.png" />
          </a>
          <h1 class="text-white mt-5 mb-3">Welcome back!</h1>
          <p class="text-muted text-white">
            Coming together is a <b>beginning</b>,<br />
            staying together is a <b>progress</b>,<br />
            and working together is a <b>success</b>.<br />
            <i>- Henry Ford</i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-4">
          <div class="text-center my-3">
            <p>Get back to retro!</p>
          </div>
          <form #form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(form)">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-envelope"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  formControlName="email"
                  name="email"
                  placeholder="Email"
                  type="email"
                />
              </div>
              <div *ngIf="email.errors && email.touched">
                <div class="text-warning" *ngIf="email.errors.required">
                  Email required.
                </div>
                <div class="text-warning" *ngIf="email.errors.pattern">
                  Email not valid.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-lock-open"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  formControlName="password"
                  name="password"
                  placeholder="Password"
                  type="password"
                />
              </div>
              <div *ngIf="password.errors && password.touched">
                <div class="text-warning" *ngIf="password.errors.required">
                  Password required.
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                [disabled]="!email || !password"
                type="submit"
                class="btn btn-primary my-4"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-medium">Forgot password?</a>
        </div>
        <div class="col-6 text-right">
          <a
            routerLink="/register"
            routerLinkActive="active"
            class="text-medium"
            >Create new account</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
