<nav
  class="navbar navbar-vertical navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid bg-gradient-neutral">
    <a
      class="navbar-brand"
      routerLinkActive="active"
      [routerLink]="['/dashboard']"
    >
      <img
        src="./assets/img/brand/retrocket.png"
        class="navbar-brand-img"
        alt="..."
      />
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
        >
          <a
            routerLinkActive="active"
            [routerLink]="[menuItem.path]"
            class="nav-link"
          >
            <i class="{{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
