<nav
  *ngIf="color && colors && boardName"
  class="navbar navbar-horizontal navbar-expand-md navbar-light bg-white"
  id="sidenav-main"
>
  <div class="container-fluid bg-gradient-neutral">
    <a class="navbar-brand" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/retrocket.png" class="logo" />
    </a>
    <div class="navbar-collapse row">
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" class="nav-link">
            <i class="fas fa-columns"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a (click)="onClickLogout()" class="nav-link">
            <i class="fas fa-key"></i>
            Logout
          </a>
        </li>
        <li class="nav-item">
          <a (click)="onClickShare()" class="nav-link">
            <i class="fas fa-share"></i>
            Share
          </a>
        </li>
      </ul>
      <app-menu
        [colors]="colors"
        [color]="color"
        (colorChange)="toggleColor($event)"
      >
      </app-menu>
      <div class="avatar-group">
        <img
          *ngFor="let member of team"
          class="avatar"
          [hidden]="team?.length === 0"
          alt="{{ member }}"
          title="{{ member }}"
          src="https://robohash.org/{{ member }}.png?set=set3"
        />
      </div>
      <div class="board-name">
        <div><i class="fas fa-edit fa-2x"></i></div>
        <input
          #name
          type="text"
          [disabled]="user.isAnonymous"
          [(ngModel)]="boardName"
          [size]="name.value.length > 0 ? name.value.length : 1"
          (ngModelChange)="editBoardName($event)"
        />
      </div>
    </div>
  </div>
</nav>
