/* You can add global styles to this file, and also import other style files */

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.navbar-top.navbar-horizontal > div {
  justify-content: center;
  margin-top: 20px;
}

.container .navbar-brand img.logo {
  height: 50px;
}

.header {
  padding-left: 32px;
  padding-right: 32px;
}

.card {
  border: 0px solid rgb(0, 0, 0) !important;
}

.text-warning {
  font-size: small;
}

/*
  Component: DashboardListItemComponent
*/

.dropdown {
  margin-left: 15px;
  margin-right: 15px;
  display: grid !important;
}

button + .dropdown-menu.show {
  display: flex;
  padding-right: 8px;
}

.dropdown-menu.show > .dropdown-item {
  margin-left: 8px;
  text-align: center;
  border-radius: 4px;
}

/*
  Component: CardComponent
*/

i.delete {
  display: none;
  color: darkgrey;
}

span.rt-span:hover i.delete {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*
  Components: DashboardListItemComponent, DialogComponent, ColumnComponent, CardComponent
*/

textarea.rt-text {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border-style: dashed;
  resize: none;
  margin: 10px 0 10px 0;
  width: 100%;
}

textarea.rt-text + span {
  border: 1px solid rgba(236, 236, 236, 0.3);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  background-color: rgba(223, 222, 222, 0.3);
  background-clip: border-box;
}

/*
  Component: DialogComponent <dashboard-list.component.ts>
*/
div.mat-form-field-wrapper {
  padding: 0%;
}

mat-dialog-container {
  border-radius: 20px !important;
  border-style: solid;
  border-color: lightgray;
  border-width: thick;
  text-align: center;
}
