<h2 class="text-uppercase">{{ dialogData.title }}</h2>
<ng-container *ngIf="dialogData.function === 'Create'">
  <mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="none">
      <input
        matInput
        class="form-control"
        placeholder="Name"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field appearance="none">
      <textarea
        matInput
        class="form-control"
        placeholder="Memo"
        formControlName="memo"
      ></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [disabled]="!form.valid" class="btn" (click)="save()">
      <i class="fas fa-check fa-lg"></i>
    </button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="dialogData.function === 'Share'">
  <div class="tooltip-container">
    <input type="text" [value]="dialogData.copyUrl" id="copy-before" />
    <div class="tooltip-rt">
      <button class="btn" (click)="copy()" (mouseout)="onMouseOut()">
        Copy text
      </button>
      <span id="copy-after"></span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dialogData.function === 'Delete'">
  <mat-dialog-actions style="padding: 30px">
    <button class="cancel btn" (click)="confirm('Cancel')">No</button>
    <button class="confirm btn" (click)="confirm('Delete')">Yes</button>
  </mat-dialog-actions>
</ng-container>
